.cabecalhoMenor {
    display: flex;
    width: 35%;
    
    border-bottom: 0.5px solid #0046C7;
    border-right: 0.5px solid #0046C7;
}

.imagem_cabecalho_menor {
    padding: 9px;
    width: 25%;
}

.imgCabecalho2_menor {
    width: 18%;
    height: 17%;
    padding: 0.8rem 0 0 0;
}