.container {
    display: flex;
}

.section_foto_pc {
    display: block;
    width: 35%;
}

.titulo_principal {
    font-size: 60px;
    background-color: #A4E4FE;
}


.ladoDireito {
    width: 65%;
    display: block;
}